<a href="https://colab.research.google.com/github/tsions1/DS1002/blob/main/More_pandas_hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Eden Mulugeta (unb6ny)
Tsion Sahle (cnb8jw)

 Load the following dataset into Colab and perform the requested operations in code.

 Task 1

In [ ]:
# Load pandas and the data

import pandas as pd
link = "https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv"
df = pd.read_csv(link)

In [ ]:
# show how many rows and columns are in this dataset

print ("No of rows:", df.shape[0])
print ("No of colums:", df.shape [1])

No of rows: 25760
No of colums: 10

In [ ]:
# The first column, "duration" is seen as a string.
# Using two snippets of code, clean this column up so that
# is now an integer (int64)

df['duration'] = df['duration'].str.strip('miuntes')
df['duration'] = df['duration'].astype('int64')

In [ ]:
# Now display the datatypes in the updated dataframe

print(df['duration'])

0        12
1        24
2         8
3         4
4        11
         ..
25755    11
25756    10
25757    14
25758    14
25759    29
Name: duration, Length: 25760, dtype: int64

In [ ]:
# Show the min and max values of ride durations (the shortest and longest rides)
# Hint: If 'df' is the name of your dataframe, simply specify the column name
# and then append the .min() or .max() methods.

min_duration = df['duration'].min()
max_duration = df['duration'].max()

print ("Min duration:", min_duration)
print ("Max duration:", max_duration)

Min duration: 1
Max duration: 1372

In [ ]:
# Create a new dataframe object and populate it with rides that are 60 minutes or less.
# Hint: Use the .query() method for the dataframe that we used in class.

df_less_than_60 = df.query('duration <= 60')

In [ ]:
# Now show both the min and max values of the duration column for your new dataset.

print ("Min duration 60 or less:", df_less_than_60['duration'].min())
print ("Max duration 60 or less:", df_less_than_60['duration'].max())

Min duration 60 or less: 1
Max duration 60 or less: 60

In [ ]:
# Using the new dataframe, update it so that is ONLY has records where
# the tire_size is 26.

df_less_than_60_and_26 = df_less_than_60[df_less_than_60['tire_size'] == 26]

In [ ]:
# Finally, produce a count of all records with FEMALE riders
# using the 26-inch wheeled rental bikes for their rentals of
# one hour or less.

female_riders_df = df_less_than_60_and_26[df_less_than_60_and_26['user_gender']=='Female']
female_riders_count = female_riders_df.shape[0]
print ("Number of female riders using 26-inch wheeled rental bikes for their rentals of one hour or less:", female_riders_count)

Number of female riders using 26-inch wheeled rental bikes for their rentals of one hour or less: 2962

Find the file more-messy-data.csv on GitHub and upload it into Google Colab.

Create a new Pandas DataFrame from that data and perform the following steps.[link text](https://)

In [ ]:
# Write a snippet of code that will display the number of duplicate rows exist in the DF.
import pandas as pd

url = "https://raw.githubusercontent.com/tsions1/DS1002-S24/main/data/more-messy-data.csv"
df = pd.read_csv(url)

duplicate_rows = df.duplicated().sum()
print("Number of duplicate rows:", duplicate_rows)

Number of duplicate rows: 287

In [ ]:
# Next, remove all duplicate rows using Python.

df = df.drop_duplicates()

In [ ]:
# For the FOUR columns involving sepal and petal length and width, update all NaN
# values with the column mean.

update_columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

df[update_columns] = df[update_columns].apply(pd.to_numeric, errors= "coerce")

for column in update_columns:
  column_mean = df[column].mean()
  df[column].fillna(column_mean, inplace=True)

In [ ]:
# Find any values in the dataframe that are still missing, and delete them.

update_columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_length']
for column in update_columns:
  df[column].fillna(df[column].mean(), inplace=True)

df_drop_missing = df.dropna(subset = update_columns)

In [ ]:
# How many different species are there?

num_species = df['species'].unique()
num_species_count = len(num_species)
print ("Number of different species:", num_species_count)

Number of different species: 8

In [ ]:
# Clean up the 'species' variable so that there are exactly three different values.

print ("Unique species before cleaning:")
print(df['species'].unique)

df['species'] = df['species'].str.lower()

wanted_species = ['setosa', 'versicolor', 'virginica']
cleaned_df = df[df['species'].isin(wanted_species)]
print ("Unique species after it is cleaned:")
print (cleaned_df['species'].unique())

Unique species before cleaning:
<bound method Series.unique of 0        virginica
1           setosa
3        virginica
4        virginica
5           setosa
           ...
1309    Versicolor
1310    Versicolor
1312    Versicolor
1313    Versicolor
1315    Versicolor
Name: species, Length: 628, dtype: object>
Unique species after it is cleaned:
['virginica' 'setosa' 'versicolor']